@font-face {
  font-family: "myFont";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
}

/*Reset*/
*,
* ::before,
* ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* list-style: none; */
}

:root {
  /*colors*/
  --color-yellow: #f4d04e;
  --color-gray-950: #111111;
  --color-gray-500: #6b6b6b;
  --color-white: #ffffff;

  /*Font sizes*/
  --font-size-large: 2.4rem;
  --font-size-medium-plus: 2rem;
  --font-size-medium: 1.6rem;
  --font-size-small: 1.4rem;
}

html {
  /*To make each rem - 10px for easier usage of rem later on*/
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "myFont", sans-serif;
}

body {
  background-color: var(--color-yellow);
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2rem;
}

.blog__container {
  background-color: var(--color-white);
  padding: 24px;
  border-radius: 24px;
  display: block;
  overflow: hidden;
  max-width: 327px;
}

.image-wrapper {
  border-radius: 10px;
  overflow: hidden;
  object-fit: fill;
  width: 279px;
  height: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 2.4rem;
}

.blog__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-top: 15px;
  padding-top: 1px;
}

.tag {
  font-weight: 800;
  background-color: var(--color-yellow);
  color: var(--color-gray-950);
  display: inline;
  padding: 0.4rem 1.2rem;
  border-radius: 4px;
  font-size: var(--font-size-small);
  margin-top: 2.4rem;
}

h1 {
  font-size: var(--font-size-medium-plus);
  font-weight: 800;
}

p {
  font-size: var(--font-size-small);
}

.blog__content p:last-child {
  color: var(--color-gray-500);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
