@font-face {
  font-family: "myFont";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
}

:root {
  /*colors*/
  --color-yellow: #f4d04e;
  --color-gray-950: #111111;
  --color-gray-500: #6b6b6b;
  --color-white: #ffffff;
}

html {
  /*To make each rem - 10px for easier usage of rem later on*/
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "myFont", sans-serif;
}

/*typography*/
h1,
h2,
p {
  line-height: 150%;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.6rem;
}

p {
  font-size: 1.4rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.tag {
  font-weight: 800;
  background-color: var(--color-yellow);
  color: var(--color-gray-950);
  display: inline;
  padding: 0.4rem 1.2rem;
  border-radius: 4px;
  font-size: 1.2rem;
}
